body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;

  background-image: url(../images/Background.jpg);
  color: #fff;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(6, 12%);
  gap: 3rem;
  justify-content: center;
  margin:  0;
  padding: 0 0 3rem 0;
  list-style-type: none;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #171717;
  color: #49d6b9;
  padding: 0 1rem 1rem 1rem;
  border-radius: 5px;
}

.Card img {
  max-width: 100%;
}

.Card:hover {
  box-shadow: 5px 5px #49d6b9, -5px -5px #49d6b9;
}

.ScoreBoard {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 2rem 2rem;
  align-items: center;
  box-sizing: border-box;
}
